# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env

# Telegram session
*.session
*.session-journal

# Database
*.db
*.sqlite
*.sqlite3

# Frontend
node_modules/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Telegram offer images
backend/media/offers/
